/* background-color
---------------------*/
$bgcolor: #f1f1f1;
$bgcolor-key: yellow;

/* font-color
---------------------*/
$font-color: #333;
$main-color: #d40000;

/* button-color
---------------------*/
$button-color: #fff;
$button-color-key: red;
$secondary-color: #ffe08d;

